body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/marbled-blue-abstract-background-liquid-marble-pattern_1258-99516.jpg?t=st=1734417670~exp=1734421270~hmac=7410bd8c9192764f1838f0ad035d8bcd28bab685c44aa55e20406e0ed6687005&w=1380');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
  }
  h2.text-center {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  .reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
  
  .text-primary {
    color: #333 !important;
  }
  
  .btn-primary {
    background-color: #00bcd4;
    border: none;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
  }
  
  .btn-primary:hover {
    background-color: #008c9e;
    transition: background-color 0.3s;
  }